/* 全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
}

.search-header{
    display: flex;
}

/* 検索条件設定セクション */
#search-settings {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-left: 5%;
    margin-bottom: 0;
    font-size: 28px;
    color: #333;
}

/* 入力フォーム */
input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 範囲とジャンルの選択 */
.range,
.genre {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

h4 {
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
}

/* 検索ボタン */
input[type="submit"] {
    background-color: #1877fc;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    width: 150px;
}

input[type="submit"]:hover {
    background-color: #02428b;
}

.coordinates {
    margin-top: 10px;
    display: none; 
}

/* ラジオボタンのinput要素 */
.radio-input {
    margin-right: 5px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

/* ラジオボタンのlabel要素 */
.radio-label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* 検索エリアのラジオボタンスタイル */
.radio-area-input:checked + .radio-area-label {
    background: #9635d7;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-area-input:hover + .radio-area-label {
    box-shadow: 0 0 2px 0 #9635d7 inset;
}

#txt-area-label{
    width: 400px;
}

/* 検索範囲のラジオボタンスタイル */
.radio-range-input:checked + .radio-range-label {
    background: #199800;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-range-input:hover + .radio-range-label {
    box-shadow: 0 0 2px 0 #199800 inset;
}

/* 検索ジャンルのラジオボタンスタイル */
.radio-genre-input:checked + .radio-genre-label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-genre-input:hover + .radio-genre-label {
    box-shadow: 0 0 2px 0 #B54A4A inset;
}