<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sample.css') }}">
    <script src="{{ url_for('static', filename='js/geolocation.js') }}"></script>
    <title>グルメリサーチサイト</title>
</head>
<body>

<!-- 検索条件設定画面 -->
<section id="search-settings">
    <h1>検索条件設定</h1>
    <!-- ここに検索条件の入力フォームやボタンを配置 -->
    <form id="search-form" method="POST">
        <label for="search-area">検索エリア:</label>
        <div class="area">
            <label>
                <input type="radio" name="search-type" id="current-location" value="current-location">
                現在地から検索
            </label>
            <label>
                <input type="radio" name="search-type" id="location" value="location" checked>
                地名から検索
            </label>
            <label for="location">地名:</label>
            <input type="text" id="text-location" name="location" value="東京">
        </div>
        <label for="search-range">検索範囲:</label>
        <div class="range">
            <label><input type="radio" name="search-range" value="1">300m</label>
            <label><input type="radio" name="search-range" value="2">500m</label>
            <label><input type="radio" name="search-range" value="3" checked>1000m</label>
            <label><input type="radio" name="search-range" value="4">2000m</label>
            <label><input type="radio" name="search-range" value="5">3000m</label>
        </div>
        <label for="search-genre">ジャンル:</label>
        <div class="genre">
            <label><input type="radio" name="search-genre" value="居酒屋">居酒屋</label>
            <label><input type="radio" name="search-genre" value="ダイニングバー・バル">ダイニングバー・バル</label>
            <label><input type="radio" name="search-genre" value="創作料理">創作料理</label>
            <label><input type="radio" name="search-genre" value="和食">和食</label>
            <label><input type="radio" name="search-genre" value="洋食">洋食</label>
            <label><input type="radio" name="search-genre" value="イタリアン・フレンチ">イタリアン・フレンチ</label>
            <label><input type="radio" name="search-genre" value="中華">中華</label>
            <label><input type="radio" name="search-genre" value="アジア・エスニック料理">アジア・エスニック料理</label>
            <label><input type="radio" name="search-genre" value="各国料理">各国料理</label>
            <label><input type="radio" name="search-genre" value="カラオケ・パーティ">カラオケ・パーティ</label>
            <label><input type="radio" name="search-genre" value="バー・カクテル">バー・カクテル</label>
            <label><input type="radio" name="search-genre" value="ラーメン">ラーメン</label>
            <label><input type="radio" name="search-genre" value="お好み焼き・もんじゃ">お好み焼き・もんじゃ</label>
            <label><input type="radio" name="search-genre" value="カフェ・スイーツ">カフェ・スイーツ</label>
            <label><input type="radio" name="search-genre" value="その他グルメ">その他グルメ</label>
        </div>
        <div class="range">
        <input type="submit" value="search">

        <div class="txt-margin" style="display: none;">
            <input type="text" id="latitude" name="latitude" >
            <input type="text" id="longitude" name="longitude" >
        </div>
    
    </form>
</section>


</body>
</html>
