<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/geolocation.js') }}"></script>

    <title>グルメリサーチサイト</title>
</head>
<body>
<h1>グルメリサーチサイト</h1>
<!-- 検索条件設定画面 -->
<section id="search-settings">
    <h2>検索条件設定</h2>
    <!-- ここに検索条件の入力フォームやボタンを配置 -->
    <form id="search-form" method="POST">
        <h4 for="search-area">検索エリア</h4>
        <div class="area">
            <label>
                <input type="radio" name="search-type" id="current-location" value="current-location">
                現在地から検索
            </label>
            <label>
                <input type="radio" name="search-type" id="location" value="location" checked>
                地名から検索
                <input type="text" id="text-location" name="location" value="東京">
            </label>
        </div>
        <h4 for="search-range">検索範囲</h4>
        <div class="range">
            <input id="300m" class="radio-range-input" type="radio" name="search-range" value="1"/>
            <label class="radio-range-label" for="300m">
                300m
            </label>
            <input id="500m" class="radio-range-input" type="radio" name="search-range" value="2"/>
            <label class="radio-range-label" for="500m">
                500m
            </label>
            <input id="1000m" class="radio-range-input" type="radio" name="search-range" value="3" checked="checked"/>
            <label class="radio-range-label" for="1000m">
                1000m
            </label>
            <input id="2000m" class="radio-range-input" type="radio" name="search-range" value="4"/>
            <label class="radio-range-label" for="2000m">
                2000m
            </label>
            <input id="3000m" class="radio-range-input" type="radio" name="search-range" value="5"/>
            <label class="radio-range-label" for="3000m">
                3000m
            </label>
        </div>

        <h4 for="search-genre">ジャンル</h4>
        <div class="genre">
            <input id="izakaya" class="radio-genre-input" type="radio" name="search-genre" value="居酒屋"/>
            <label class="radio-genre-label" for="izakaya">居酒屋</label>
        
            <input id="dining-bar" class="radio-genre-input" type="radio" name="search-genre" value="ダイニングバー・バル"/>
            <label class="radio-genre-label" for="dining-bar">ダイニングバー・バル</label>
        
            <input id="creative" class="radio-genre-input" type="radio" name="search-genre" value="創作料理"/>
            <label class="radio-genre-label" for="creative">創作料理</label>
        
            <input id="japanese" class="radio-genre-input" type="radio" name="search-genre" value="和食"/>
            <label class="radio-genre-label" for="japanese">和食</label>
        
            <input id="western" class="radio-genre-input" type="radio" name="search-genre" value="洋食"/>
            <label class="radio-genre-label" for="western">洋食</label>
        
            <input id="italian" class="radio-genre-input" type="radio" name="search-genre" value="イタリアン・フレンチ"/>
            <label class="radio-genre-label" for="italian">イタリアン・フレンチ</label>
        
            <input id="chinese" class="radio-genre-input" type="radio" name="search-genre" value="中華"/>
            <label class="radio-genre-label" for="chinese">中華</label>
        
            <input id="asian" class="radio-genre-input" type="radio" name="search-genre" value="アジア・エスニック料理"/>
            <label class="radio-genre-label" for="asian">アジア・エスニック料理</label>
        
            <input id="international" class="radio-genre-input" type="radio" name="search-genre" value="各国料理"/>
            <label class="radio-genre-label" for="international">各国料理</label>
        
            <input id="karaoke" class="radio-genre-input" type="radio" name="search-genre" value="カラオケ・パーティ"/>
            <label class="radio-genre-label" for="karaoke">カラオケ・パーティ</label>
        
            <input id="bar" class="radio-genre-input" type="radio" name="search-genre" value="バー・カクテル"/>
            <label class="radio-genre-label" for="bar">バー・カクテル</label>
        
            <input id="ramen" class="radio-genre-input" type="radio" name="search-genre" value="ラーメン"/>
            <label class="radio-genre-label" for="ramen">ラーメン</label>
        
            <input id="okonomiyaki" class="radio-genre-input" type="radio" name="search-genre" value="お好み焼き・もんじゃ"/>
            <label class="radio-genre-label" for="okonomiyaki">お好み焼き・もんじゃ</label>
        
            <input id="cafe-sweets" class="radio-genre-input" type="radio" name="search-genre" value="カフェ・スイーツ"/>
            <label class="radio-genre-label" for="cafe-sweets">カフェ・スイーツ</label>
        
            <input id="other-gourmet" class="radio-genre-input" type="radio" name="search-genre" value="その他グルメ"/>
            <label class="radio-genre-label" for="other-gourmet">その他グルメ</label>
        </div>
        
        <input type="submit" value="検索">

        <div class="txt-margin">
            <input type="text" id="latitude" name="latitude" >
            <input type="text" id="longitude" name="longitude" >
        </div>
    
    </form>
</section>

</body>
</html>
