<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>グルメリサーチサイト</title>
</head>
<body>

<!-- 検索条件設定画面 -->
<section id="search-settings">
    <h1>検索条件設定</h1>
    <!-- ここに検索条件の入力フォームやボタンを配置 -->
    <form id="search-form">
        <label for="keyword">キーワード:</label>
        <input type="text" id="keyword" name="keyword" required>
        <label for="location">地名:</label>
        <input type="text" id="location" name="location" required>
        <button type="button" id="current-location">現在地から検索</button>
        <a href="/result" role="button">検索</a>
    </form>
    <div class="txt-margin">
        <p>緯度：<span id="latitude">???</span><span>度</span></p>
        <p>経度：<span id="longitude">???</span><span>度</span></p>
    </div>
</section>

<script>// ボタンを押した時の処理
    document.getElementById("current-location").onclick = function(){
        // 位置情報を取得する
        navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
    };
    
    // 取得に成功した場合の処理
    function successCallback(position){
        // 緯度を取得し画面に表示
        var latitude = position.coords.latitude;
        document.getElementById("latitude").innerHTML = latitude;
        // 経度を取得し画面に表示
        var longitude = position.coords.longitude;
        document.getElementById("longitude").innerHTML = longitude;
    };
    
    // 取得に失敗した場合の処理
    function errorCallback(error){
        alert("位置情報が取得できませんでした");
    };</script>

</body>
</html>
